* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #dd8b0f;
}

header {
    background: black;
    color: rgb(213, 207, 22);
    text-align: right;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background: #333;
}

nav ul li a {
    color: white;
    padding: 15px;
    text-decoration: none;
}

nav ul li a:hover {
    background: rgb(21, 200, 78);
}

section, aside {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

article {
    background: orange;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: rgb(145, 201, 14);
    color: white;
    text-align: center;
    padding: 15px;
}